.button
  width: 150px
  height: 60px
  margin-right: 45px
  font-size: 18px
  border: 2px solid
  border-radius: 5px
  outline: none
  cursor: pointer
  transition: all .2s
  font-weight: bold
  color: $grey

  &:active,
  &:focus
    outline: none

  &--add
    background-color: $btn-add
    border-color: darken($btn-add, 10%)

    &:hover
      background-color: darken($btn-add, 10%)
      border-color: lighten($btn-add, 10%)

  &--delete
    background-color: $btn-delete
    border-color: darken($btn-delete, 10%)

    &:hover
      background-color: darken($btn-delete, 10%)
      border-color: lighten($btn-delete, 10%)

  &--new-form
    margin:
      top: 20px
      left: 20px
    color: $white
    background-color: $btn-new-form
    border-color: darken($btn-new-form, 10%)

    &:hover
      background-color: darken($btn-new-form, 10%)
      border-color: lighten($btn-new-form, 10%)