.form
  min-width: 300px
  margin-top: 20px
  margin-left: 20px
  padding: 10px
  border: 2px solid silver
  border-radius: 5px

  &__group
    padding: 5px 0

  &__label
    display: block
    margin-bottom: 5px
    font:
      size: 22px
      weight: 700



  &__input
    width: 100%
    height: 30px

    &--select
      width: 50%

